body {
    background-color: rgb(132, 158, 207);
}

h1 {
    color: rgb(72, 37, 199);
}
h3 {
    background: white;
    text-align: center;
}

.green-text {
    color: green;
}
.red-text:hover {
    color: red;
}